:root {
    --primary-text-color: #434455;
    --title-text-color: #2e2f42;
    --accent-color: #4d5ae5;
    --white-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--white-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* Tablet Container (768px+) */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Desktop Container (1158px+) */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}